/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
}

.link {
  text-decoration: none;
  color: white;
}

h1{
  text-align: center;
}

.container {
  margin-top: 30px;
}

.info {
  /* border: 1px solid red; */
  font-weight: 600;
  text-align: center;
  padding: 50px;
  box-shadow: 1px 1px 3px black;
}

.form-container {
  box-shadow: 1px 1px 3px black;
  padding: 30px;
  margin-top: 20px;
}
